@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  letter-spacing: 1px;
  line-height: 2;
  word-wrap: break-word;
  background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #354152;
}

h1 {
  color: #F9F9F9;
  line-height: 1.6;
}

h2 {
  margin-bottom: 1rem;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter, p::first-letter, a::first-letter {
  text-transform: capitalize;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

section {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  section {
    margin-top: 5rem;
  }
}

.encontranos__mapa, .inscripcion-boxes__instrucciones, .cursos__list-item, .carousel-nav, header .header-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu-btn .menu-btn__bar-2, header .menu-btn .menu-btn__bar-1 {
  display: block;
  height: 3px;
  background-color: #65B3D6;
  margin-bottom: 7.5px;
  border-radius: 5px;
}

footer .footer__cfp-logo-img, header .header-presentation__anchor-logo {
  width: 7.5rem;
  height: 6rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  footer .footer__cfp-logo-img, header .header-presentation__anchor-logo {
    margin-bottom: 0;
  }
}

header {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #354152;
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 250px;
  }
}
header .menu-btn {
  display: block;
  position: absolute;
  top: 1.5rem;
  z-index: 1000;
  width: 2.5rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  header .menu-btn {
    display: none;
  }
}
header .menu-btn .menu-btn__bar-1 {
  width: 100%;
}
header .menu-btn .menu-btn__bar-2 {
  width: 50%;
  transition: 0.5s;
}
header .menu-btn .menu-btn__bar-2.translate {
  transform: translate(100%);
}
header .side-bar-nav {
  display: block;
  position: absolute;
  top: 0;
  left: -70%;
  width: 70%;
  z-index: 999;
  height: 150vh;
  background-color: #F9F9F9;
  transition: all 0.8s cubic-bezier(0.46, 0.01, 0.32, 1);
}
@media screen and (min-width: 768px) {
  header .side-bar-nav {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: none;
  }
}
header .side-bar-nav__line {
  border: 1px solid #65B3D6;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__line {
    display: none;
  }
}
header .side-bar-nav__list {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
header .side-bar-nav__list-item {
  width: 90%;
  background-color: #E9A438;
  padding: 5px;
  border-radius: 5px;
}
header .side-bar-nav__list-item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__list-item {
    background-color: transparent;
  }
  header .side-bar-nav__list-item:nth-child(1), header .side-bar-nav__list-item:nth-child(2), header .side-bar-nav__list-item:nth-child(3), header .side-bar-nav__list-item:nth-child(4), header .side-bar-nav__list-item:nth-child(5) {
    margin-bottom: 0;
  }
}
header .side-bar-nav__list-item a {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #F9F9F9;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__list-item a {
    font-size: 17px;
  }
}
header .side-bar-nav__list-item:hover > a {
  color: #E9A438;
  transition: color 0.2s;
}
header .side-bar-nav__list-item-cursos {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__list-item-cursos {
    position: absolute;
    top: 250px;
    left: 1%;
    z-index: 940;
    width: 25%;
    height: 200%;
    padding: 0 5px;
    background-color: #F9F9F9;
    border: 1px solid #E9A438;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
}
header .side-bar-nav__list-item-cursos-li {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  header .side-bar-nav__list-item-cursos-li:first-of-type {
    padding-top: 10px;
  }
}
header .side-bar-nav__list-item-cursos-li a {
  font-size: 14px;
  text-align: center;
  color: black;
}
@media screen and (min-width: 950px) {
  header .side-bar-nav__list-item-cursos-li a {
    font-size: 15px;
  }
}
header .side-bar-nav__list-item-cursos-li a:hover {
  color: #E9A438;
  transition: color 0.2s;
}
header .side-bar-nav__list-item-cursos.open {
  max-height: 255px;
  margin-bottom: 1.5rem;
}
header .side-bar-nav.toggle {
  transform: translateX(100%);
}
header .header-presentation {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header .header-presentation {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 3rem;
  }
}
header .header-presentation__anchor {
  display: inline-block;
  cursor: pointer;
}
header .header-presentation__anchor-logo {
  display: block;
}
header .header-presentation h1 {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  header .header-presentation h1 {
    padding-top: 2rem;
    padding-left: 0.5rem;
  }
}

.carousel {
  position: relative;
  display: block;
  width: 95%;
  height: 200px;
  margin: 30px auto;
}
@media screen and (min-width: 768px) {
  .carousel {
    width: 70%;
    height: 365px;
  }
}
.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 400ms ease-in;
}
.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-image-text {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 5rem;
  background-color: rgba(249, 249, 249, 0.7);
  border-radius: 5px 0 0 0;
  padding: 1rem;
}
.carousel-image-text p {
  text-align: justify;
  hyphens: auto;
  font-size: 14px;
  line-height: 2;
}
.carousel-nav {
  padding: 10px;
}
.carousel-nav .indicator {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #65B3D6;
  margin-right: 10px;
}
.carousel-nav .indicator:last-of-type {
  margin-right: 0px;
}
.carousel-nav .indicator.current-slide {
  border: 2px solid #65B3D6;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .banner-container-grid {
    display: flex;
    justify-content: center;
  }
}
.banner-container-grid .banner-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-color: #E9A438;
}
@media screen and (min-width: 768px) {
  .banner-container-grid .banner-grid {
    width: 80%;
    grid-column-gap: 40px;
    border-radius: 5px;
  }
}
.banner-container-grid .banner-grid .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .banner-container-grid .banner-grid .item {
    padding: 1rem;
  }
}
.banner-container-grid .banner-grid .item .icon {
  width: 2.8rem;
  height: 2.8rem;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .banner-container-grid .banner-grid .item .icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 15px 0;
  }
}
.banner-container-grid .banner-grid .item p {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .banner-container-grid .banner-grid .item p {
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) {
  .banner-container-grid .banner-grid .item .first-p {
    width: 90%;
  }
}

.cursos__list-item {
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .cursos__list-item {
    margin-bottom: 1.5rem;
  }
}
.cursos__list-item__button {
  width: 70%;
  height: 45px;
  background-color: #65B3D6;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .cursos__list-item__button {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .cursos__list-item__button {
    width: 30%;
  }
}
.cursos__list-item__button h3 {
  font-family: "Open Sans", sans-serif;
  color: #F9F9F9;
}
@media screen and (min-width: 768px) {
  .cursos__list-item__button h3 {
    font-size: 19px;
  }
}
.cursos__list-item__description {
  width: 70%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
@media screen and (min-width: 768px) {
  .cursos__list-item__description {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .cursos__list-item__description {
    width: 30%;
  }
}
.cursos__list-item__description .close-button-wrapper {
  display: flex;
  justify-content: right;
}
.cursos__list-item__description .close-button-wrapper .close-button {
  width: 45px;
  height: 45px;
}
.cursos__list-item__description .close-button-wrapper .close-button i {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: #65B3D6;
}
.cursos__list-item__description p {
  font-size: 16px;
  text-align: justify;
  hyphens: auto;
  line-height: 2;
  margin: 0 0.5rem;
  margin-bottom: 10px;
}
.cursos__list-item__description a {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #65B3D6;
  margin: 0 0.5rem;
  border-bottom: 1px solid #65B3D6;
}
.cursos__list-item__description.display {
  max-height: 400px;
}

.inscripcion {
  position: relative;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .inscripcion {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.inscripcion-boxes {
  height: 320px;
}
.inscripcion-boxes__requisitos {
  position: absolute;
  right: 2px;
  width: 65%;
  height: 30%;
  z-index: 950;
  padding-top: 10px;
  background-color: #E9A438;
  border-radius: 5px;
}
@media screen and (min-width: 500px) {
  .inscripcion-boxes__requisitos {
    width: 45%;
    height: 35%;
  }
}
@media screen and (min-width: 900px) {
  .inscripcion-boxes__requisitos {
    width: 45%;
    right: 30px;
    padding: 10px 0;
  }
}
.inscripcion-boxes__requisitos h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: black;
  padding-bottom: 5px;
}
@media screen and (min-width: 900px) {
  .inscripcion-boxes__requisitos h3 {
    font-size: 18px;
  }
}
.inscripcion-boxes__requisitos-list {
  padding-left: 15%;
}
.inscripcion-boxes__requisitos-list li {
  font-size: 14px;
  text-align: left;
  list-style: inside;
}
@media screen and (min-width: 768px) {
  .inscripcion-boxes__requisitos-list li:first-of-type {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 900px) {
  .inscripcion-boxes__requisitos-list li {
    font-size: 16px;
  }
}
.inscripcion-boxes__requisitos-list li::first-letter {
  text-transform: capitalize;
}
.inscripcion-boxes__instrucciones {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 949;
  width: 95%;
  height: 60%;
  padding: 1rem;
  background-color: #65B3D6;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .inscripcion-boxes__instrucciones {
    top: 42%;
    width: 90%;
    height: 65%;
    padding: 4rem;
  }
}
@media screen and (min-width: 900px) {
  .inscripcion-boxes__instrucciones {
    top: 45%;
    width: 85%;
    padding: 2rem 4rem;
  }
}
@media screen and (min-width: 1080px) {
  .inscripcion-boxes__instrucciones {
    top: 42%;
    width: 85%;
    padding: 2rem 4rem;
  }
}
.inscripcion-boxes__instrucciones p {
  font-size: 16px;
  text-align: justify;
  color: #F9F9F9;
}
@media screen and (min-width: 900px) {
  .inscripcion-boxes__instrucciones p {
    font-size: 19px;
  }
}

.practicas-prof {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .practicas-prof {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 900px) {
  .practicas-prof [class^=practicas-prof__] {
    font-size: 18px;
    line-height: 2.2;
  }
}
.practicas-prof__text {
  display: inline-block;
  text-align: justify;
  padding: 0 1rem;
}
.practicas-prof__text-2 {
  padding-top: 15px;
}
.practicas-prof__aside {
  width: 45%;
  float: right;
  padding: 1rem;
  margin: 20px 0px 10px 20px;
  background-color: #E9A438;
  border-radius: 5px;
  color: #F9F9F9;
}
@media screen and (min-width: 768px) {
  .practicas-prof__aside {
    width: 35%;
    height: 200px;
  }
}
@media screen and (min-width: 950px) {
  .practicas-prof__aside {
    width: 35%;
    height: 200px;
  }
}
@media screen and (min-width: 1300px) {
  .practicas-prof__aside {
    width: 35%;
    height: 150px;
  }
}

.encontranos h3 {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  color: black;
  margin-left: 2rem;
  border-bottom: 1px solid #65B3D6;
}
@media screen and (min-width: 700px) {
  .encontranos h3 {
    font-size: 21px;
    margin-left: 15%;
    margin-bottom: 1rem;
  }
}
.encontranos__direccion {
  width: 50%;
  height: 80px;
  margin: 1rem 0 1rem 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .encontranos__direccion {
    margin: 1rem auto;
  }
}
.encontranos__mail {
  width: 50%;
  height: 80px;
  margin: 0 0 0 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .encontranos__mail {
    margin: 0 auto;
  }
}
.encontranos__icon-container {
  display: block;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
  padding: 5px;
}
.encontranos__icon-container .encontranos__icon {
  width: 2.8rem;
  height: 2.8rem;
}
@media screen and (min-width: 700px) {
  .encontranos__icon-container .encontranos__icon {
    width: 3rem;
    height: 3rem;
  }
}
.encontranos #icon-direccion {
  background-color: #65B3D6;
}
.encontranos #icon-mail {
  background-color: #E9A438;
}
.encontranos__text {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .encontranos__text {
    margin-left: 30px;
    font-size: 19px;
  }
}
.encontranos #mail-text::first-letter {
  text-transform: lowercase;
}
.encontranos__mapa {
  width: 100%;
  height: 200px;
  margin-top: 3rem;
}
.encontranos__mapa iframe {
  width: 90%;
  height: 100%;
}

footer {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 3rem;
  background-color: #354152;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 5rem;
    width: 100%;
    height: 450px;
  }
}
footer .footer__cfp-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
footer .footer__grid-container {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media screen and (min-width: 550px) {
  footer .footer__grid-container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  footer .footer__grid-container {
    width: 60%;
    top: 9rem;
    left: 70%;
    transform: translateX(-70%);
  }
}
footer .footer__grid-container .footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer__grid-container .footer__grid {
    grid-column-gap: 20px;
    padding-left: 0px;
  }
}
footer .footer__grid-container .footer__grid h3, footer .footer__grid-container .footer__grid a {
  color: #F9F9F9;
}
footer .footer__grid-container .footer__grid a {
  font-size: 14px;
  align-self: center;
}
footer .footer__grid-container .footer__grid a:hover {
  color: #E9A438;
}
@media screen and (min-width: 768px) {
  footer .footer__grid-container .footer__grid a {
    font-size: 17px;
  }
}
footer .footer__grid-container .footer__grid h3 {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: left;
}
footer .footer__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E9A438;
  padding: 5px 0;
}
footer .footer__bottom p {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  footer .footer__bottom p {
    font-size: 17px;
  }
}

.curso-contenido {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .curso-contenido {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.curso-contenido__text {
  display: inline-block;
  font-size: 14px;
  text-align: justify;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .curso-contenido__text {
    font-size: 18px;
  }
}
.curso-contenido__aside {
  width: 40%;
  height: auto;
  float: right;
  padding: 1rem;
  margin: 10px 0px 20px 20px;
  background-color: #E9A438;
  border-radius: 5px;
  color: #F9F9F9;
}

main {
  height: auto;
}
main .institucional h1 {
  color: #354152;
}
main .institucional .mision-container {
  position: relative;
  height: 470px;
}
main .institucional .mision-container__titulo-box {
  position: absolute;
  top: 0;
  z-index: 935;
  right: 2rem;
  width: 30%;
  height: 70px;
  background-color: #E9A438;
  border-radius: 5px;
}
@media screen and (min-width: 550px) {
  main .institucional .mision-container__titulo-box {
    width: 20%;
  }
}
@media screen and (min-width: 900px) {
  main .institucional .mision-container__titulo-box {
    right: 5rem;
  }
}
main .institucional .mision-container__titulo-box h3 {
  color: black;
  line-height: 70px;
}
main .institucional .mision-container__contenido-box {
  position: absolute;
  top: 50px;
  right: 2.5%;
  z-index: 930;
  width: 95%;
  height: 400px;
  padding: 3rem;
  background-color: #65B3D6;
  border-radius: 5px;
  overflow-y: auto;
}
@media screen and (min-width: 550px) {
  main .institucional .mision-container__contenido-box {
    width: 75%;
    right: 3.5rem;
  }
}
@media screen and (min-width: 900px) {
  main .institucional .mision-container__contenido-box {
    width: 60%;
    right: 7rem;
  }
}
main .institucional .mision-container__contenido-box p {
  text-align: justify;
  color: #F9F9F9;
}
main .institucional .historia-container {
  position: relative;
  height: 470px;
}
main .institucional .historia-container__titulo-box {
  position: absolute;
  top: 0;
  z-index: 935;
  left: 2rem;
  width: 25%;
  height: 70px;
  background-color: #E9A438;
  border-radius: 5px;
}
@media screen and (min-width: 550px) {
  main .institucional .historia-container__titulo-box {
    width: 20%;
  }
}
@media screen and (min-width: 900px) {
  main .institucional .historia-container__titulo-box {
    left: 5rem;
  }
}
main .institucional .historia-container__titulo-box h3 {
  color: black;
  line-height: 70px;
}
main .institucional .historia-container__contenido-box {
  position: absolute;
  top: 55px;
  left: 2.5%;
  z-index: 930;
  width: 95%;
  height: 400px;
  padding: 3rem;
  background-color: #65B3D6;
  border-radius: 5px;
  overflow-y: auto;
}
@media screen and (min-width: 550px) {
  main .institucional .historia-container__contenido-box {
    width: 75%;
    left: 3.5rem;
  }
}
@media screen and (min-width: 900px) {
  main .institucional .historia-container__contenido-box {
    width: 60%;
    left: 7rem;
  }
}
main .institucional .historia-container__contenido-box p {
  text-align: justify;
  color: #F9F9F9;
}

/*# sourceMappingURL=styles.css.map */
