.cursos{

    &__list{
        

        &-item {
            @extend %flex1;
            flex-direction: column;
            width: $hundred-percent;
            margin-bottom: $one-rem;
            @include respond-to(768px){
                margin-bottom: $one-rem * 1.5;
            }

            &__button {
                width: $hundred-percent - 30%;

                @include respond-to(768px) {
                    width: $hundred-percent - 50%;
                }

                @include respond-to(900px) {
                    width: $hundred-percent - 70%;
                }

                height: $ten-pixels+35px;
                background-color: $main-color;
                border-radius: $border-radius;

                h3 {
                    font-family: $font-text;
                    color: $background-color;
                    @include respond-to(768px) {
                        font-size: $font-size-medium + 2px;
                    }
                }
            }

            &__description {
                width: $hundred-percent - 30%;
                @include respond-to(768px) {
                    width: $hundred-percent - 50%;
                }
                @include respond-to(900px) {
                    width: $hundred-percent - 70%;
                }
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s;

                .close-button-wrapper {
                    display: flex;
                    justify-content: right;

                    .close-button {
                        width: $ten-pixels + 35px;
                        height: $ten-pixels + 35px;

                        i {
                            font-size: $font-size-tiny + 2px;
                            font-weight: bold;
                            font-style: normal;
                            color: $main-color;
                        }
                    }
                }

                p {
                    font-size: $font-size-tiny + 2px;
                    text-align: justify;
                    hyphens: auto;
                    line-height: 2;
                    margin: 0 $one-rem * 0.5;
                    margin-bottom: $ten-pixels;
                }

                a {
                    display: inline-block;
                    font-weight: bold;
                    font-size: $font-size-tiny + 2px;
                    color: $main-color;
                    margin: 0 $one-rem * 0.5;
                    border-bottom: 1px solid $main-color;
                }
            }

            &__description.display {
                max-height: 400px;
            }

        }
        
    }

}