.encontranos{

    h3{
        display: inline-block;
        font-family: $font-text;
        font-weight: 400;
        text-align: left;
        color: black;
        margin-left: $one-rem * 2;
        border-bottom: 1px solid $main-color;
        @include respond-to(700px) {
            font-size: $font-size-medium + 4px;
            margin-left: 15%;
            margin-bottom: $one-rem;
        }
    }

    &__direccion{
        width: 50%;
        height: 80px;
        margin: $one-rem 0 $one-rem $one-rem * 3;
        display: flex;
        justify-content: left;
        align-items: center;
        @include respond-to(700px){
            margin: $one-rem auto;
        }
    }

    &__mail{
        width: 50%;
        height: 80px;
        margin: 0 0 0 $one-rem * 3;
        display: flex;
        justify-content: left;
        align-items: center;
        @include respond-to(700px) {
            margin: 0 auto;
        }
    }

    &__icon-container {
        display: block;
        position: relative;
        @include measures(3.5rem, 3.5rem);
        border-radius: $border-radius;
        padding: $ten-pixels - 5px;

        .encontranos__icon {
            @include measures(2.8rem, 2.8rem);
            @include respond-to(700px){
                @include measures(3rem, 3rem);
            }
        }
    }

    #icon-direccion{
        background-color: $main-color;
    }

    #icon-mail{
        background-color: $secondary-color;
    }

    &__text{
        margin-left: $ten-pixels;
        @include respond-to(768px){
            margin-left: $ten-pixels * 3;
            font-size: $font-size-medium + 2px;
        }
    }

    #mail-text::first-letter{
        text-transform: lowercase;
    }

    &__mapa{
        width: 100%;
        height: 200px;
        @extend %flex1;
        margin-top: $one-rem * 3;
        iframe{
            width: $hundred-percent - 10%;
            height: $hundred-percent;
        }
    }
}