// colors
$main-color: #65B3D6;
$secondary-color: #E9A438;
$third-color: #354152;
$black: #000;
$background-color: #F9F9F9;
$carousel-banner-color: rgba(249, 249, 249, 0.7);

// fonts
$font-headings: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
$font-text: 'Open Sans', sans-serif;
$font-size-tiny: 13px;


// basic measure
$one-rem: 1rem;
$ten-pixels: 10px;
$hundred-percent: 100%;
$font-size-tiny: 14px;
$font-size-medium: 17px;
$margin-titles: 1rem;

//border
$border-radius: 5px;

// header
$menu-icon-width: 2.5rem;
$menu-icon-height: 3px;
$menu-icon-margin-bottom: 7px;
$menu-icon-padding-and-margin: 1rem;

$side-bar-transition: all .8s cubic-bezier(.46, .01, .32, 1);

$logo-width: 7.5rem;
$logo-height: 6rem;
$logo-margin-bottom: 1rem;



// banner
$items-padding: 1rem;
$icons-width-height: 2.8rem;
